<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>
    <header class="main-header center fixed_00">
        <nav>
            <img src="/assets/logo.png" class="nav-logo" alt="logo">
            <div class="center row">
                <div class="menu-nav-ico center column">
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                </div>
                <div class="main-nav center row">
                    <% if (locals.name) { %>
                        <div id="username" class="center">Hii, <%= name %>!</div>
                        <button class="nav_btn" id="logout">Logout</button>
                    <% } else { %>
                        <a href="/signup"><button class="nav_btn">Sign Up</button></a>
                        <a href="/login"><button class="nav_btn">Login</button></a>
                    <% } %>
                </div>
            </div>
        </nav>
    </header>
    <main class="center column full-w">
        <h1>Madam URL Shortner</h1>
        <form id="url_form" class="center">
            <input type="text" name="url_data" id="url_data" placeholder="Enter URL">
            <button type="submit">Shorten URL</button>
        </form>
        <div id="response">
        </div>
        <div id="errors"></div>
        <h3 style="text-align: center; margin: 10px; margin-top: 30px;">Your previous URLs</h3>
        <div class="data_ctnr">
            <div class="data">
                <div class="data_index">Sr. No.</div>
                <div class="data_urlCtnr">
                    <div class="text_overflow">Redirection URL</div>
                    <div class="text_overflow">Shortened URL</div>
                </div>
            </div>
            <% if (locals.urls && locals.urls.length > 0) { %>
                <% urls.forEach((url, i) => { %>
                    <hr style="width: 100%; border: 0.5px solid gainsboro;">
                    <div class="data">
                        <div class="data_index"><%= i + 1 %></div>
                        <div class="data_urlCtnr">
                            <div class="text_overflow"><%= url.redirectURL %></div>
                            <div class="text_overflow"><a href="http://localhost:3000/u/<%= url.shortId %>">http://localhost:3000/u/<%= url.shortId %></a></div>
                        </div>
                    </div>
                <% })} else { %>
                    <div style="text-align: center;font-size: 15px;padding: 12px;color: red;"><%= locals.message %></div>
            <% } %>
        </div>
    </main>
    <footer>
        <div id="disclaimer" class="center full-w">© Neeraj Verma 2024</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"></script>
    <script>
        const menuIcon = document.querySelector(".menu-nav-ico");
        const menuNav = document.querySelector(".main-nav");
        const menuHeader = document.querySelector(".main-header");
        const navLinks = document.querySelectorAll(".menu-line");
        const logo = document.querySelector(".nav-logo");
        const form = document.getElementById("url_form")
        const url = document.getElementById("url_data")
        const errors = document.getElementById("errors")
        const response = document.getElementById("response")
        const logout_btn = document.getElementById("logout")
        
        let prevURL = url.value
        
        const copyURL = async (e) => {
          const copybtn = document.getElementById("copybtn")
          var copyText = document.getElementById("link").textContent;
          await navigator.clipboard.writeText(copyText);

          copybtn.innerText = "URL Copied"
        }

        menuIcon.addEventListener("click", function () {
          for(let i = 0; i < 3; i++){
            navLinks[i].classList.toggle("animateMenu");
          }
          menuNav.classList.toggle("mnheight");
          menuHeader.classList.toggle("mhbg");
          logo.classList.toggle("animate-logo-img");
        })

        form.addEventListener("submit", (e)=>{
            e.preventDefault()
            if(url.value === prevURL) {
                return;
            }
            errors.style.display = "none";
            response.style.display = "none";
            prevURL = url.value;

            axios.post("http://localhost:3000/url", { redirectURL : url.value })
                .then((res)=> {
                    if(res.headers["content-type"] === "text/html; charset=utf-8"){
                        window.location.replace(`http://localhost:3000/login`)
                        return;
                    }
                    const urlEncoded = `http://localhost:3000/u/${res.data.id}`
                    response.innerHTML = `<div id="copybtn" onclick="copyURL()">Copy URL</div><p>Your shortened URL is: <a href="${urlEncoded}" style="color: black; text-decoration: underline;" id="link">${urlEncoded}</a></p>`;
                    response.style.display = "block";
                })
                .catch((err)=> {
                    errors.innerHTML = "Error occured: " + err.response.data.error.map(error => `<p>- ${error}</p>`).join("") || err.message;
                    errors.style.display = "block";
                })
        })

        if(logout_btn) {
            logout_btn.addEventListener("click", () => {
                axios.post("http://localhost:3000/user/logout")
                    .then((res)=> {
                        window.location.reload();
                    })
                    .catch((err)=> {
                        errors.innerHTML = "Error occured: " + err.response.data.error.map(error => `<p>- ${error}</p>`).join("") || err.message;
                        errors.style.display = "block";
                    })
            })
        }
    </script>
</body>
</html>